<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sambal.mydd.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gallery3d.permission.GALLERY_PROVIDER" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.CLEAR_APP_CACHE"
        tools:ignore="ProtectedPermissions" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".DealDioApplication"
        android:allowBackup="false"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="allowBackup,supportsRtl">
        <activity
            android:name=".activity.viewAndEarn.ViewAndEarnDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.viewAndEarn.ViewAndEarnActivity"
            android:exported="false" />
        <activity
            android:name=".activity.reward_club.NoticeBoardDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activity.reward_club.NoticeBoardListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.reward_club.ActiveMembershipActivity"
            android:exported="false" />
        <activity
            android:name=".activity.reward_club.RewardClubActivity"
            android:exported="false" />
        <activity
            android:name=".activity.reward_club.DealDetailActivity"
            android:exported="false" />
        <activity
            android:name=".authentication.VerifyOTPForLocalSmsActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".activity.StoreGiftCardActivity"
            android:exported="true"
            android:theme="@style/CustomTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.NewLeaflet_DetailActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MY_PromotionActivity"
            android:exported="true"
            android:hardwareAccelerated="false" />
        <activity
            android:name=".activity.SearchAllDealActivity"
            android:exported="true" />
        <activity
            android:name=".activity.NewMyDealsActivity"
            android:exported="true" />
        <activity
            android:name=".activity.Refer_FriendActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="ddpoints.page.link"
                    android:pathPrefix="/"
                    android:scheme="https" />

            </intent-filter>
            -->

        </activity>
        <activity
            android:name=".activity.DealByCat_IDActivity"
            android:exported="true" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
        <!--
<activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true"
            android:label="@string/app_name" />
        -->
        <!--
 <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        -->
        <!-- android:name=".SplashActivity" -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.SignUpActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <!--
             <intent-filter>
                 <action android:name="android.intent.action.VIEW" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <category android:name="android.intent.category.BROWSABLE" />
                 <data
                     android:host="ddpoints.page.link"
                     android:pathPrefix="/"
                     android:scheme="https" />

             </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.PlayYouTubeVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fragment.chat.ChatMain"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PromoCode"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.WebviewStore"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Rating_ReviewActivity"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ExclusiveDeals"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fragment.chat.ChatImage"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ActivitLinkCard"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Categories"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fragment.NearMeHomeFragment"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ActivityGroceryList"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ScanQrVisitBusiness"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.VoucherScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SearchAllNewActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SearchMerchantChatList"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".authentication.VerifyOTPActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.LatestProductDetails"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.Webview"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="mydomainname.page.link"
                    android:scheme="http" />
                <data
                    android:host="mydomainname.page.link"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".authentication.SocialNumberVerification"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fragment.FollowingFragment"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">

            <!-- android:theme="@style/AppTheme1" -->
            <!--
            <intent-filter>
                <data
                    android:host="home"
                    android:pathPrefix="/"
                    android:scheme="dealdioiosapp" />
                <data
                    android:host="dealdetails"
                    android:pathPrefix="/"
                    android:scheme="dealdioiosapp" />
                <data
                    android:host="agentdetails"
                    android:pathPrefix="/"
                    android:scheme="dealdioiosapp" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".activity.TermsAndConditionActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ScanQr"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ScanQR"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ScanQrProductDetails"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />

                <data
                    android:host="home"
                    android:pathPrefix="/"
                    android:scheme="dealdioiosapp" />
                <data
                    android:host="dl"
                    android:pathPrefix="/"
                    android:scheme="dealdioiosapp" />
                <data
                    android:host="dealdetails"
                    android:pathPrefix="/"
                    android:scheme="dealdioiosapp" />
                <data
                    android:host="agentdetails"
                    android:pathPrefix="/"
                    android:scheme="dealdioiosapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SelectLocationActivityStore"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ActivityMyRewards"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.AgentAllComments"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.New_AgentDetails"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.NewhistoryDashboardDetials"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.SelectLocationActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ActivityStorePoints"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.NewNotification"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".familyaccount.FamilyMemberList"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.PlayVideoActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".utils.MySMSBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>
        <!--
 <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1634558113321584"
            android:exported="true" />
        -->
        <!--
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND"
        -->
        <service
            android:name=".FCMUtils.MyFirebaseMessagingService"
            android:directBootAware="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- [END firebase_service] -->
        <!-- [START firebase_iid_service] -->
        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyASiTb1ARp9DmK4Z7sU65ICD6ukJztcsmo" /> <!-- <meta-data -->
        <!-- android:name="io.fabric.ApiKey" -->
        <!-- android:value="b1f1d43a22706f336c7c450b1db784081b5fbb67" /> -->
        <activity
            android:name=".familyaccount.SelectAdmin"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".authentication.VerifyNumber"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".fragment.chat.CropImage"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.WebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.NewProfile"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".familyaccount.AddFamily"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".familyaccount.AddMember"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.EditProfile"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".familyaccount.FamilyRequest"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.DailyDeals"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.LatestDeals"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.MyFavorites"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme1"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".check_internet.ConnectivityReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".utils.GPSTracker"
            android:exported="true" />
        <service android:name=".service.LocationService" />

        <receiver
            android:name=".service.MyBroadcastReceiver"
            android:exported="false" />
    </application>

</manifest>